.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary-lightest);
  /* background-color: #1f1f4e; */
  color: var(--ifm-color-primary-darkest);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
