.scsaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    background-color: #000;
    opacity: 0;
}

.scsaver__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.scsaver-progress {
    position: fixed;
    top: 0;
    width: 100%;
}

.scsaver-progress progress {
    width: 100%;
}

#monitor {
    position: fixed;
    width:200px;
    height: 400px;
    overflow: hidden;
    color: #fff;
    background-color: #000;
}